[global]
address = "0.0.0.0"
port = 8080
template_dir = "dist/templates"
assets_dir = "dist/assets"
keys_dir = "dist/keys"
state_dir = "dist/hagrid_state"
tmp_dir = "dist/tmp"

[development]
base-URI = "http://localhost:8080"
from = "noreply@localhost"
x-accel-redirect = false
token_secret = "hagrid"
token_validity = 3600

[staging]
base-URI = "https://keys.openpgp.org"
from = "noreply@keys.openpgp.org"
x-accel-redirect = true

[production]
base-URI = "https://keys.openpgp.org"
from = "noreply@keys.openpgp.org"
x-accel-redirect = true
