[global]
address = "0.0.0.0"
port = 8080
template_dir = "dist/templates"
state_dir = "dist"

[development]
domain = "localhost"
from = "noreply@localhost"
x-accel-redirect = false

[staging]
domain = "keys.openpgp.org"
from = "noreply@keys.openpgp.org"
x-accel-redirect = true

[production]
domain = "keys.openpgp.org"
from = "noreply@keys.openpgp.org"
x-accel-redirect = true
