{{#> layout}}
  <h1>Deletion requested</h1>
  <p>We sent you an email with instuctions how to delete you key to all of your verified email addresses.</p>
  <b>Token:</b> <a href="/confirm/{{ token }}"><tt>{{ token }}</tt></a>
{{/layout}}
