{{#> layout }}
  <h1>Tokens</h1>
  {{#if tokens}}
    <ul>
      {{#each tokens}}
        <li>{{userid}}: <a href="/vks/verify/{{token}}"><tt>{{token}}</tt></a></li>
      {{/each}}
    </ul>
  {{else}}
    <em>No new user IDs</em>
  {{/if}}
{{/layout}}
